<div class="side-bar">
  <p-sidebar [visible]="true" [baseZIndex]="10000" [modal]="false" [showCloseIcon]="false"
    [style]="{width: dynamicSideBarWidth}">
    <div class="l-sidebar">
      <div class="logo">
        <div class="logo__txt">
          DIRECT
        </div>
      </div>
      <div class="l-sidebar__content">
        <div class="c-menu">
          <ul class="u-list">
            <li 
              class="c-menu__item"
              data-toggle="tooltip"
              title="Dashboard"
              [ngClass]="{'is-active': router.url.includes('/admin/dashboard')}"
            >
              <a [routerLink]="['/admin', 'dashboard']">
                <div class="c-menu__item__inner" [ngClass]="{'admin-a-active': router.url.includes('/admin/dashboard')}">
                  <i class="fa fa-home"></i>
                  Home
                </div>
              </a>
            </li>
            <li
              class="c-menu__item"
              data-toggle="tooltip"
              title="Order"
              [ngClass]="{'is-active': router.url.includes('/admin/order')}"
            >
              <a [routerLink]="['/admin', 'order']">
                <div class="c-menu__item__inner" [ngClass]="{'admin-a-active': router.url.includes('/admin/order')}">
                  <i class="fa fa-chart-bar"></i>
                  Order
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </p-sidebar>
</div>