.tab_sec_left {
  float: left;
  width: 70%;
}
.tab_sec_left p {
  display: inline-block;
  margin-bottom: 3px;
}
.tab_sec_left span {
  padding-right: 80px;
}
.p-button-raised.p-button-success {
  padding: 8px 15px;
}

.p-inline {
  padding: 0;
  margin: 0;
  display: inline;
}
.cancel-reason {
  background-color: #fff4e4 ;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}