$orange: rgb(255, 87, 34) !important;
$sazerac: rgb(255, 244, 228) !important;
$black: rgba(51, 51, 51) !important;

// status
$accepted: rgba(33,213,155) !important;
$pending: rgba(0, 88, 255) !important;
$shipped: rgb(249,199, 0) !important;
$delivered: rgb(249,150,0) !important;
$cancelled: rgba(240,20,48) !important;

// status-light

$success: #6AA84F !important;
$cancel: #F0142F !important;

$white-color: #FFFFFF !important;