
<div class="form-container sign-up-container">
    <div class="signin-content">
        <div class="sign-in content-left">
            <h2>Sign In</h2>
            <h3>Login to your account</h3>
        </div>
        <div class="logo content-right">
            <img src="assets/img/logo.svg" width="60">
        </div>
    </div>

    <div class="clear"></div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="username">Mobile No.</label>
        <div class="prim-ng-input">
            <input pInputText formControlName="username" inputId="mobile_number" class="mb-2"
                (keypress)="onlyDigit($event)" placeholder="Enter Mobile Number" />
        </div>
        <ng-container *ngIf="loginForm.controls['username']?.touched">
            <small *ngIf="loginForm.controls['username'].errors?.['required']" class="p-error">
                Mobile number is required.
            </small>
            <small *ngIf="loginForm.controls['username'].errors?.['maxlength']" class="p-error">
                Allowed mobile number length is 10.
            </small>
            <small *ngIf="loginForm.controls['username'].errors?.['minlength']" class="p-error">
                Allowed mobile number length is 10.
            </small>
        </ng-container>

        <label for="pass">Password</label>
        <div style="width: 100%;" class="prim-ng-input">
            <p-password class="mb-2" formControlName="password" placeholder="Your password" mediumRegex
                [feedback]="false">
            </p-password>
        </div>
        <ng-container *ngIf="loginForm.controls['password']?.touched">
            <small *ngIf="loginForm.controls['password'].errors?.['required']" class="p-error">
                Password is required.
            </small>
            <small *ngIf="loginForm.controls['password'].errors?.['pattern']" class="p-error">
                <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase or one number</li>
                    <li>Minimum 6 characters</li>
                </ul>
            </small>
        </ng-container>

        <a [routerLink]="['/auth', 'otp-login']" class="otp-login">Don't have a password, login with OTP</a>
        <button class="btn-reg" type="submit">Sign In</button>
    </form>
</div>