<div class="form-container sign-up-container">
  <div class="signin-content">
    <div class="sign-in content-left">
      <h2>Change Password</h2>
      <h3>Set Your new password</h3>
    </div>
    <div class="logo content-right">
      <img src="assets/img/logo.svg" width="60">
    </div>
  </div>
  <div class="clear"></div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <label for="npassword">New Password</label>
    <input pInputText class="mb-2" formControlName="password" placeholder="Your password" mediumRegex />
    <small *ngIf="changePasswordForm.controls['password'].errors?.['required']" class="p-error">
      Password is required.
    </small>

    <label for="cpass">Confirm Password</label>
    <p-password class="mb-2" formControlName="confirmPassword" placeholder="Confirm password" mediumRegex [feedback]="false">
    </p-password>
    <ng-container *ngIf="changePasswordForm.controls['confirmPassword']?.touched">
      <small *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['required']" class="p-error">
          Password is required.
      </small>
      <small *ngIf="changePasswordForm.controls['confirmPassword'].errors?.['pattern']" class="p-error">
          <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
              <li>At least one lowercase</li>
              <li>At least one uppercase or one number</li>
              <li>Minimum 6 characters</li>
          </ul>
      </small>
    </ng-container>

    <button class="btn-reg">Save</button>
  </form>
</div>