<div class="form-container sign-up-container">
    <div class="signin-content">
        <div class="sign-in content-left">
            <h2>Login With OTP</h2>
            <h3>Login using OTP on your </h3>
            <small>registered number</small>

        </div>
        <div class="logo content-right">
            <img src="assets/logo.svg" width="60">
        </div>
    </div>

    <div class="clear"></div>
    <form action="">
        <label for="mobile">Mobile No.</label>
        <input type="text" placeholder="Your mobile number">

        <label for="otp">OTP</label>
        <input type="password" placeholder="Your OTP">

        <span class="otp-login">Resend OTP</span>
        <button class="btn-reg">Verify OTP</button>
    </form>
</div>