.box {
  height: 10px;
  width: 10px;
  border: 1px solid black;
}

.accepted {
  background-color: #21d59b;
}

.pending {
  background-color: #0058ff;
}

.shipped {
  background-color: #ffc700;
}

.delivered {
  background-color: #f99600;
}

.cancelled {
  background-color: #f0142f;
}

a.more {
  color: #0058ff;
}