.horizontal_dotted_line{
  border-bottom: 1px dotted black;
  width: 5px;
}

.dotted-line {
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.dotted-line:after {
  content: "--->--";
  // letter-spacing: 6px;
  font-size: 5px;
  color: black;
  display: inline-block;
  // vertical-align: 3px;
}

.p-component {
  font-size: 0.875rem;
}
.p-button.p-button-rounded {
  border-color: #ced4da;
}
.btn-outline-primary {
  color: #ff5722 !important;
  border-color: #ff5722 !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
  border-color: #ff5722 !important;
  background-color: #ff5722 !important;
}

