<div class="content-wrapper">
  <h4 class="page-title" (click)="backClicked()" style="cursor: pointer">
    <i class="fa fa-arrow-left"></i> &nbsp;&nbsp; Bulk Accept Orders
  </h4>
  <div class="page-content">
    <div class="page-inner-content">
      <div class="">
        <p-card>
          <div class="d-flex flex-column">
            <div class="d-flex justify-content-between ">
              <div class="overall-demand">
                <b> Overall Demand </b>
              </div>
              <div class="d-flex flex-column justify-content-end">
                <p class="p-inline"> Order count: {{holdOrder?.Item3?.OrderCount}}</p>
                <p> Total Order Value: {{holdOrder?.Item3?.TotalOrder}}</p>
              </div>
            </div>
            <div class="mb-3 mt-3">
              <div class="outlined-button d-flex justify-content-between">
                <button pButton pRipple type="button" [label]="isExpanded ? 'Collapse All' : 'Expand All'"
                  class="p-button-outlined p-button-sm order-detail-action h-40" (click)="expandAll()"></button>
                <button pButton pRipple type="button" label="Print Demand Sheet"
                  class="p-button-outlined p-button-sm order-detail-action h-40" icon="pi pi-print"
                  (click)="show()"></button>
              </div>
            </div>
            <div class="bulk-accept-table">
              <!-- responsiveLayout="scroll" -->
              <p-table responsiveLayout="scroll" [value]="(orders$ | async) || []" [scrollable]="true"
                scrollHeight="300px" [columns]="columns" dataKey="ItemName" [expandedRowKeys]="expandedRows">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th></th>
                    <th>S.NO.</th>
                    <th *ngFor="let col of columns">
                      {{ col.header }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded"
                  let-index="rowIndex">
                  <tr>
                    <td [ngClass]="{'tr-border-bottom': expandedRows[rowData.ItemName]}">
                      <button type="button" pButton pRipple [pRowToggler]="rowData"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-minus' : 'pi pi-plus'"></button>
                    </td>
                    <td [ngClass]="{'tr-border-bottom': expandedRows[rowData.ItemName]}">
                      {{index + 1}}
                    </td>
                    <td *ngFor="let col of columns" [ngClass]="{'tr-border-bottom': expandedRows[rowData.ItemName]}">
                      <ng-container *ngIf="col.field !== 'DispatchQuantity' else DispatchQuantity">
                        {{ rowData[col.field] }}
                      </ng-container>
                      <ng-template #DispatchQuantity>
                        <div class="box-catskill-white mr-4">
                          {{ rowData['DispatchQuantity'] }}
                        </div>
                      </ng-template>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-product>
                  <tr style="min-width: 100wh">
                    <td class="d-flex justify-content-start bulk-hor-scroll" style="margin-left: 100px">
                      <!-- <div *ngFor="let item of product.expandedRow" class="d-flex" style="margin-left: 80px">
                        <div style="margin-top: 7px" class="ml-2">
                          {{item.OrderId}}
                        </div>
                        <div class="arrow-left-right-button">
                          <p-inputNumber inputId="integerOnly" [(ngModel)]="item.Quantity" [showButtons]="true"
                            buttonLayout="horizontal" [step]="1" incrementButtonIcon="pi pi-caret-right"
                            decrementButtonIcon="pi pi-caret-left" [min]="0" 
                            (onInput)="itemQuantityChange(product)"
                          >
                          </p-inputNumber>
                        </div>
                        <i class="pi pi-trash ml-2" (click)="showCancelPopUp(true, item.OrderId)"
                          style="margin-top: 7px"></i>
                      </div> -->
                      <ng-container *ngFor="let item of product.expandedRow; let currentIndex = index">
                        <div *ngIf="!item?.show" class="d-flex" style="margin-left: 100px">
                          <div style="margin-top: 7px" class="ml-2">
                            {{item.OrderId}}
                          </div>
                          <div class="arrow-left-right-button">
                            <p-inputNumber inputId="integerOnly" [(ngModel)]="item.Quantity" [showButtons]="true"
                              buttonLayout="horizontal" [step]="1" incrementButtonIcon="pi pi-plus"
                              decrementButtonIcon="pi pi-minus" [min]="0" 
                              (onInput)="itemQuantityChange(product)"
                            >
                            </p-inputNumber>
                          </div>
                          <i class="pi pi-trash ml-2" (click)="showCancelPopUp(true, item.OrderId)"
                            style="margin-top: 7px"></i>
                        </div>
                      </ng-container>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <div class="d-flex justify-content-center mt-3">
              <button pButton pRipple type="button" label="Next" class="p-button-raised p-button-success"
                (click)="next()"></button>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>


<div class="custom-dialog">
  <p-dialog [(visible)]="cancelModelShow" [position]="'center'" [modal]="true" [style]="{ width: '30vw' }"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closeOnEscape]="true" [closable]="false">
    <div class="d-flex flex-column text-center justify-content-center">
      <p>Are you sure you want to remove the whole order, this <br />order has other items also.?</p>
    </div>
    <div class="d-flex justify-content-center outlined-button">
      <button pButton pRipple type="button" label="No" class="p-button-outlined outlined-border" style="width: 100px"
        (click)="cancelOrder(false,'no'); goCancel = []; this.cancelModelShow = false"></button>
      <button pButton pRipple type="button" label="Yes" class="p-button-outlined is_active ml-2" style="width: 100px"
        (click)="cancelOrder(false,'yes')"></button>
    </div>
  </p-dialog>
</div>