<div id="example">
    <div class="box wide hidden-on-narrow">
        <!-- <div class="box-col">
            <select id="paper" style="width: 100px;">
                <option value="size-a4" selected>A4</option>
                <option value="size-letter">Letter</option>
                <option value="size-executive">Executive</option>
            </select>
        </div> -->

        <div class="box-col">
            <button class="export-pdf k-button" (click)=" getPrint()">Print</button>
        </div>
    </div>
    <div id="print-docs" class="page-container hidden-on-narrow">
        <div class="pdf-page size-a4 print-backgruond">

            <div class="for">
                <h4>Demand Sheet</h4>
                <p>Seller Name: <span>{{ headerData.SellerName }}</span></p>
                <p>Seller Address: <span>{{ headerData.SellerAddress }}</span></p>
                <p>Mobile No: <span>{{headerData.SellerContact }}</span></p>
                <h5 style="padding-top: 10px;">
                    Order Count: <span>{{ headerData.OrderCount}}</span>
                </h5>
            </div>

            <div class="from">
                <img src="../../../assets/img/direct_sign.png">
                <p>Date: {{ headerData.Date | date: 'dd/MM/yy hh:mm'}}</p>
                <h5 style="padding-top: 20px;">
                    Total Order Value: <span>{{headerData.TotalOrder}}/-</span>
                </h5>
            </div>
            <div class="pdf-body">
                <!-- <div id="grid"></div> -->
                <div id="grid">
                    <h4 style="text-align: center;">Overall Items Demand</h4>
                    <div class="k-grid-content">
                        <table role="grid">
                            <colgroup>
                                <col style="width:80px">
                                <col>
                                <col style="width:80px">
                                <col>
                            </colgroup>
                            <thead role="rowgroup">
                                <tr role="row">
                                    <th scope="col"> S. No. </th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Net Quantity</th>
                                    <th scope="col">Order ID and Quantity</th>
                                </tr>
                            </thead>
                            <tbody role="rowgroup">
                                <tr role="row" *ngFor="let item of printData;let i=index;">
                                    <td role="gridcell">{{i+ 1}}</td>
                                    <td role="gridcell">{{ item.ItemName }}</td>
                                    <td role="gridcell">{{item.NetQuantity}}</td>
                                    <td role="gridcell">{{item.orderQuantities}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>