<div class="d-flex flex-column text-center justify-content-center">
    <p>{{ data.message }}</p>

    <div class="d-flex justify-content-center outlined-button">
        <button pButton pRipple type="button" label="No" class="p-button-outlined is_active outlined-border"
            style="width: 90px; height: 40px; border-radius: 6px; margin-right: 10px;" (click)="onCancelClick()">No</button>
        <button pButton pRipple type="button" label="Yes" class="p-button-outlined is_active outlined-border ml-2"
            style="width: 90px; height: 40px; border-radius: 6px;" (click)="onConfirmClick()">Yes</button>
    </div>
</div>