.c-danger {
  color: $cancel;
}

.bg-white {
  background-color: #ffffff !important;
}

.box-catskill-white {
  box-sizing: border-box;
  border: 1px #e6e9f4;
  background: #e6e9f4;
  padding: 5px;
  min-width: 53px;
  height: 34px;
  text-align: center;
}

.scroll-x {
  display: flex;
  justify-content: start;
  max-width: 200px;
  scrollbar-width: none;
  overflow-x: scroll;
}